/* .passenger-form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .passenger-form-group input,
  .passenger-form-group select {
    flex: 1;
  }
  /* src/app/navbar/navbar.component.css */


   